* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    height: 100dvh;
    font-family: Arial, sans-serif;
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


header {
    width: 100%;
    padding-bottom: -5em;
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 0.4em 0;
}

#logo {
    width: 90%;
    
    height: auto;
    padding-bottom: - 0.4em;
    filter: drop-shadow(0 0 8px #0005);
    border-radius: 10px;
}

#main {
    width: 100%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 1.5em;
}

.popup {
  position: fixed;
  color: #000;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  z-index: 9999;
}

.popup-content {
  background: #fff;
  padding: 1.2em 1.6em;
  border-radius: 12px;
  width: min(90%, 320px);
  text-align: center;
  box-shadow: 0 6px 25px rgba(0,0,0,0.25);
}

#popup-close {
    background-color: #0f9;
    border-radius: 14px;
    padding: 1em;
}


#arene {
    border: 2px solid #222;
    padding-top: 1em;
    width: 90%;
    height: fit-content;
    padding-bottom: 2em;
    border-radius: 12px;
    box-shadow: inset 0 0 8px #0006;
    position: relative;
    display: flex;
    justify-content: center;
    color : black;
}

.icon-btn {
    width: 50px;    
    position: absolute;
    bottom: 0.7em;
    right: 0.7em;
    cursor: pointer;
    user-select: none;
    
}


#iconeContainer {
    width: 50%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}

#iconeContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1550px;
    border: 0.5em solid #0d7; 
    z-index: 3;                
}

#profil_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1550px;
    z-index: 1;
    position: relative;
}




#textLevel {
    position: absolute;
    z-index: 5;
    bottom: 0.8em;  
    background-color: #0f9;
    
    width: fit-content;
    
    padding: 0.4em;
    border-radius: 24px;
    text-align: center;               
    
    
}

progress {
    width: 90%;
    height: 18px;
    -webkit-appearance: none;
    appearance: none;
}


progress::-webkit-progress-bar {
    background-color: #222;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #5fe4ff;
    border-radius: 10px;
}

p {
    font-size: 1.1em;
}

select {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    background-color: #222;
    color: white;
    font-size: 1em;
    outline: none;
    width: 60%;
    text-align: center;
}


#play {
    width: 60%;
    padding: 0.7em 0;
    background-color: #0f9;
    border: none;
    border-radius: 12px;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

#play:hover {
    transform: scale(1.05);
    background-color: #0d7;
}


@media (min-width: 700px) {

    #logo {
        width: 16em;
    }



    #play {
        width: 40%;
    }

    select {
        width: 40%;
    }
}
