* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(49, 49, 49);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

#logo {
    width: 12em;
    max-width: 80%;
    height: auto;
    filter: drop-shadow(0 0 8px #0005);
    border-radius: 10px;
}

#main {
    width: 100%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 1.5em;
}


#arene {
    width: 90%;
    height: 25dvh;
    background-color: #333;
    border-radius: 12px;
    box-shadow: inset 0 0 8px #0006;
    position: relative;
    display: flex;
}
#arene > img {
    width: 15em;
    height: 15em;
    margin: 0 auto;
}
#textLevel {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    text-align: center;               
    
    
}

progress {
    width: 90%;
    height: 18px;
    -webkit-appearance: none;
    appearance: none;
}


progress::-webkit-progress-bar {
    background-color: #222;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #0f9;
    border-radius: 10px;
}

p {
    font-size: 1.1em;
}

select {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    background-color: #222;
    color: white;
    font-size: 1em;
    outline: none;
    width: 60%;
    text-align: center;
}


#play {
    width: 60%;
    padding: 0.7em 0;
    background-color: #0f9;
    border: none;
    border-radius: 12px;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

#play:hover {
    transform: scale(1.05);
    background-color: #0d7;
}


@media (min-width: 700px) {

    #logo {
        width: 16em;
    }

    #arene {
        height: 180px;
    }

    #play {
        width: 40%;
    }

    select {
        width: 40%;
    }
}
